@page{
    margin-left: -10%;
    margin-top: -8%;
    padding-bottom: 16%;
    size: landscape;
}

header{
    display: none;
}

#parametres{
    display: none;
}

#impression{
    display: none;
}

#trombinoscope{
    display: block;
}