body{
    font-family: Calibri, serif;
    background-color: gray;
    margin: 0;
}


#boutons{
	display: flex;
	margin-top: 20%;
	margin-left: 42.5%;
}

.bouton_choix_site{
	text-decoration: none;
	text-align: center;
	background-color: #74cb34;
	padding: 1% 1% 1% 1%;
	width: 10%;
}

#bouton_gauche{
	margin-right: 1%;
}
















