body{
    font-family: Calibri, serif;
    background-color: gray;
    margin: 0;
}


/* ------------------------------------ */
/*          Site des étudiants          */
/* ------------------------------------ */
#header{
    background-color: #74cb34;
    margin-top: 0;
    padding-left: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

#header h1{
    display: inline-block;
}

#header a{
    text-decoration: none;
}

#logo_site{
    margin-top: 0.5%;
    margin-bottom: -0.5%;
    margin-right: 1%;
    width: 3%;
}

#conteneur_choix{
    background-color: white;
    margin-top: 5%;
    margin-left: 25%;
    width: 50%;
}

#boutons_choix{
    display:flex;
}

#bouton_droit{
    display: inline-block;
    width: 50%;
}

#bouton_gauche{
    display: inline-block;
    width: 50%;
    margin-right: 0;
}

#choix_actif{
    font-size: 115%;
    background-color: #74cb34;
    border: black 1px solid;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 3%;
}

#choix_inactif{
    font-size: 115%;
    background-color: #cccccc;
    border: black 1px solid;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 3%;
}

#formulaire{
    margin-left: 0;
    margin-bottom: 5%;
}

.input_label{
    display: block;
    font-size: 115%;
    margin-left: 32.5%;
    margin-top: 4%;
}

.input_form{
    display: block;
    border: none;
    border-bottom: black 1px solid;
    margin-left: 32.5%;
    width: 35%;
}

#bouton_submit_form{
    border: black 1px solid;
    background-color: #74cb34;
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: 40%;
    width: 20%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.input_form_img{
    display: block;
    margin-left: 32.5%;
    width: 35%;
}


#erreur_formulaire{
    display: block;
    margin-left: 32.5%;
    width: 35%;
    color: red;
}
















