body{
    font-family: Calibri, serif;
    background-image: url("./background_site.png");
    margin: 0;
}

/* --------------------------------- */
/*          Page principale          */
/* --------------------------------- */
#conteneur_choix_site{
    margin-top: 15%;
    margin-left: 37%;
}

.bouton_choix_sites{
    display: inline-block;
    text-align: center;
    background-color: #74cb34;
    width: 100px;
    padding: 4% 4% 4% 4%;
    margin-right: 5%;
}

.bouton_choix_sites a{
    text-decoration: none;
}


/* ------------------------------------ */
/*          Site des étudiants          */
/* ------------------------------------ */
#header_etudiants{
    background-color: #74cb34;
    margin-top: 0;
    padding-left: 1%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

#header_etudiants h1{
    display: inline-block;
}

#header_etudiants a{
    text-decoration: none;
}

#logo_site_etudiant{
    margin-top: 0.5%;
    margin-bottom: -0.5%;
    margin-right: 1%;
    width: 3%;
}

#conteneur_choix_etu{
    background-color: white;
    margin-top: 5%;
    margin-left: 25%;
    width: 50%;
}

#boutons_choix_etu{
    display:flex;
}

#bouton_etu_droit{
    display: inline-block;
    width: 50%;
}

#bouton_etu_gauche{
    display: inline-block;
    width: 50%;
    margin-right: 0;
}

#choix_etu_actif{
    font-size: 115%;
    background-color: #74cb34;
    border: black 1px solid;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 3%;
}

#choix_etu_inactif{
    font-size: 115%;
    background-color: #cccccc;
    border: black 1px solid;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 3%;
}

#formulaire_etu{
    margin-left: 0;
}

.input{
    display: block;
    margin-left: 2%;
}



















